## PyStars Project 1 - Housing

In [3]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import statistics
import os

In [14]:
pd.read_csv("sales.csv")

,MLS ID,Sale Price,Close Date,Address,Zip Code,Total Sq. Ft.,Lot Size
0,2001944,240000.0,2021-03-15,4917 BlueStem DR,80917,1170.0,711.0
1,8359484,237500.0,2021-03-12,54 Villa DR,81001,2087.0,6509.0
2,7312436,275000.0,2021-03-15,132 Hayden ST,80813,2503.0,9583.0
3,1398523,566455.0,2021-03-18,6596 Wolf Gulch DR,80924,4714.0,9088.0
4,4306524,410000.0,2021-03-12,6562 Tillamook DR,80925,1949.0,6600.0
...,...,...,...,...,...,...,...
4121,9205281,969000.0,2021-04-12,3350 Orion DR,80906,5135.0,20971.0
4122,1382871,969000.0,2021-04-09,1957 Redbank DR,80921,4612.0,11111.0
4123,8212008,1045000.0,2021-04-12,16361 Timber Meadow DR,80908,5549.0,109771.0
4124,4689604,1320000.0,2021-04-12,2553 Browning DR,80109,5373.0,196020.0
4125,5545425,1350000.0,2021-04-05,5787 Twin Creek RD,80104,6370.0,1533007.0

In [8]:
permit_dataytd_df = pd.read_table("allperms/allpermsytd.txt", header=0)


permit_dataytd_df = pd.DataFrame(permit_dataytd_df)
# permit_data_df.head()

permit_dataytd_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
0,N34675,22-Feb-2021,"1 CALL ELECTRIC, LLC",7.195105e+09,SWAIM THOMAS PRESTON,434,E,TEMP SERVICE,0,APEX RANCH ESTATES,...,80831,0,150,0,0,NaN,39.075495,-104.546579,4.122002e+09,NaN
1,N32066,05-Feb-2021,"1-800-HANSONS, LLC",2.485814e+09,OHARE DONALD A,434,B,SIDING,0,MOUNTAIN SHADOWS FIL NO 2 COLO SPGS,...,80919,0,35451,0,0,NaN,38.903298,-104.874473,7.322402e+09,NaN
2,N31974,04-Feb-2021,1-DERFUL ROOFING & RESTORATION,3.039848e+09,VEDRA KENNETH D,434,B,REROOF T/O SHAKE AND REPLACE WITH CERTAINTEED ...,0,DONALA SUB NO 3,...,80921,0,17000,0,0,NaN,39.052465,-104.830333,6.131202e+09,NaN
3,N42634,13-Apr-2021,147 ELECTRIC,3.037465e+09,DONATO NICHOLAS,437,E,REPLACE MAIN SERVICE PANEL AND METERS TO UNITS...,0,THE NLY PORTION OF BLK 12 + LOTS 11 +,...,80910,0,4000,0,0,NaN,38.819444,-104.789292,6.421226e+09,NaN
4,N27334,06-Jan-2021,"1ST PRIORITY ROOFING, LLC",7.196461e+09,BOYD WILBOR L,434,B,REROOF,0,REFIL + AMD PLAT SKYWAY PARK ADD 5,...,80906,0,12054,0,0,NaN,38.813376,-104.850575,7.423406e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21710,N39347,25-Mar-2021,ZEDE ROOFING,7.195729e+09,RENN ROBERT H II,434,B,REROOF,0,BRADLEY RANCH FIL NO 3 PHASE II,...,80911,0,4000,0,0,NaN,38.767053,-104.744062,6.502403e+09,NaN
21711,N41480,07-Apr-2021,ZEDE ROOFING,7.195729e+09,AZAMI MOHAMMAD F,434,B,REROOF,0,SPRING CREEK TRADITIONAL NEIGHBORHOOD FIL NO 4,...,80910,0,5000,0,0,NaN,38.810269,-104.786431,6.421315e+09,NaN
21712,N32853,10-Feb-2021,ZELLECTRIC LLC,7.202617e+09,COURTER WILLIAM R,434,E,ELECTRICAL FOR NEW RADON SYSTEM - FAN SWITCH,0,STETSON HILLS SUB FIL NO 9 COLO SPGS,...,80922,0,185,0,0,NaN,38.902996,-104.693670,5.320313e+09,NaN
21713,N35775,01-Mar-2021,ZOOK CONTRACTING,7.194992e+09,TED ZOOK,434,B,REROOF,1,KNOLLWOOD ESTATES FIL NO 2,...,80132,0,10120,0,0,NaN,39.095147,-104.843422,7.113210e+09,NaN
21714,N42660,13-Apr-2021,ZUNIGA STONE LLP,7.199301e+09,Michael Porter,434,B,STUCCO,0,REFIL FALCON ESTATES 3,...,80920,0,1,0,0,NaN,38.938565,-104.793341,6.309004e+09,NaN

In [9]:
permit_dataytd_edit_df = permit_dataytd_df[permit_dataytd_df["P-Comment"].str.contains("PV SOLAR")]
permit_dataytd_edit_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
291,N31585,02-Feb-2021,"A. ADKISSON ELECTRIC, INC.",3.033325e+09,GARBER ALEXANDRA S,434,B,PV SOLAR ( 2175 WATTS ),1,KORTE SUB,...,80904,0,8700,R139974,0,NaN,38.844896,-104.840990,7.412308e+09,NaN
292,N35520,26-Feb-2021,"A. ADKISSON ELECTRIC, INC.",3.033325e+09,MORRIS JAMES H,434,B,PV SOLAR ( 9180 WATTS ),1,WOODCREST,...,80132,0,36720,R140420,0,NaN,39.121369,-104.852044,7.102401e+09,NaN
563,N30029,22-Jan-2021,"ADVANTAGE SOLAR, LLC",7.193153e+09,PEARCE CLAYSON J,434,B,PV SOLAR ( 2640 WATTS ),1,OAK VALLEY RANCH FIL NO 3 COLO SPGS,...,80919,0,10560,R138942,0,NaN,38.934492,-104.867707,7.311203e+09,NaN
564,N34201,19-Feb-2021,"ADVANTAGE SOLAR, LLC",7.193153e+09,ROBERTSON KAITLYN MARIE ELISA,434,B,PV SOLAR ( 2640 WATTS ),1,COUNTRYSIDE SUB FIL NO 3 FOUNTAIN,...,80817,0,10560,R140031,0,NaN,38.665170,-104.669460,5.609403e+09,NaN
566,N39986,29-Mar-2021,"ADVANTAGE SOLAR, LLC",7.193153e+09,HAMILTON KORRI L,434,B,PV SOLAR ( 4620 WATTS ),1,MULE DEER CROSSING FIL NO 3,...,80922,0,18480,R142934,0,NaN,38.883169,-104.691215,5.329402e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20410,N42073,09-Apr-2021,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,GAMBREL HUNTER,434,B,PV SOLAR ( 5100 WATTS ),1,FOREST MEADOWS FIL NO 1,...,80908,0,20400,R143762,0,NaN,38.944397,-104.691927,5.305317e+09,NaN
20411,N42074,09-Apr-2021,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,GUGGISBERG ALAN PAUL,434,B,PV SOLAR ( 5440 WATTS ),1,BANNING LEWIS RANCH FIL NO 14D,...,80927,0,21760,R143727,0,NaN,38.929095,-104.664135,5.309416e+09,NaN
20412,N42619,13-Apr-2021,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,ROCHA-LORA FERNANDO,434,B,PV SOLAR ( 4760 WATTS ),1,PIKES PEAK PARK SUB 4 COLO SPGS,...,80910,0,19040,R143832,0,NaN,38.813821,-104.777463,6.421409e+09,NaN
20413,N42620,13-Apr-2021,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,ELROD MICHAEL,434,B,PV SOLAR ( 5780 WATTS ),1,FAIRFAX AT BRIARGATE FIL NO 2 COLO SPGS,...,80920,0,23120,R143871,0,NaN,38.949954,-104.740017,6.302115e+09,NaN
20414,N42621,13-Apr-2021,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,DEPALO BRIAN,434,B,PV SOLAR ( 7820 WATTS ),1,SOUTHBOROUGH SUB NO 6,...,80916,0,31280,R143905,0,NaN,38.791296,-104.746983,6.435114e+09,NaN

In [11]:
permit_ytd_df = permit_dataytd_edit_df.drop(["Permit", "Owner", "Date", "Contractor", "Cont-Phone", "P-Code", "Dept", "Units", "Lot", "Block", "Subdivision", "Suite", "Sq-Ft", "Value", "Plan#", "CONum", "CODate", "Parcel", "Unnamed: 28"], axis=1)

In [12]:
permit_ytd_df

,P-Comment,Address-Low,Address-High,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
291,PV SOLAR ( 2175 WATTS ),914,914,NaN,MANITOU,BLVD,COLORADO SPRINGS,80904,38.844896,-104.840990
292,PV SOLAR ( 9180 WATTS ),20030,20030,NaN,LOFTY PINE,LN,MONUMENT,80132,39.121369,-104.852044
563,PV SOLAR ( 2640 WATTS ),7153,7153,NaN,SILVER TORCH,TER,COLORADO SPRINGS,80919,38.934492,-104.867707
564,PV SOLAR ( 2640 WATTS ),1060,1060,NaN,BROMEFIELD,DR,FOUNTAIN,80817,38.665170,-104.669460
566,PV SOLAR ( 4620 WATTS ),3851,3851,NaN,REINDEER,CIR,COLORADO SPRINGS,80922,38.883169,-104.691215
...,...,...,...,...,...,...,...,...,...,...
20410,PV SOLAR ( 5100 WATTS ),6973,6973,NaN,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
20411,PV SOLAR ( 5440 WATTS ),8819,8819,NaN,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.929095,-104.664135
20412,PV SOLAR ( 4760 WATTS ),1227,1227,NaN,ROYALE,DR,COLORADO SPRINGS,80910,38.813821,-104.777463
20413,PV SOLAR ( 5780 WATTS ),8148,8148,NaN,STEADMAN,DR,COLORADO SPRINGS,80920,38.949954,-104.740017
20414,PV SOLAR ( 7820 WATTS ),4320,4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [13]:
permit_ytd_df2 = permit_ytd_df.T.drop_duplicates().T
permit_ytd_df2

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
291,PV SOLAR ( 2175 WATTS ),914,NaN,MANITOU,BLVD,COLORADO SPRINGS,80904,38.8449,-104.841
292,PV SOLAR ( 9180 WATTS ),20030,NaN,LOFTY PINE,LN,MONUMENT,80132,39.1214,-104.852
563,PV SOLAR ( 2640 WATTS ),7153,NaN,SILVER TORCH,TER,COLORADO SPRINGS,80919,38.9345,-104.868
564,PV SOLAR ( 2640 WATTS ),1060,NaN,BROMEFIELD,DR,FOUNTAIN,80817,38.6652,-104.669
566,PV SOLAR ( 4620 WATTS ),3851,NaN,REINDEER,CIR,COLORADO SPRINGS,80922,38.8832,-104.691
...,...,...,...,...,...,...,...,...,...
20410,PV SOLAR ( 5100 WATTS ),6973,NaN,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.9444,-104.692
20411,PV SOLAR ( 5440 WATTS ),8819,NaN,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.9291,-104.664
20412,PV SOLAR ( 4760 WATTS ),1227,NaN,ROYALE,DR,COLORADO SPRINGS,80910,38.8138,-104.777
20413,PV SOLAR ( 5780 WATTS ),8148,NaN,STEADMAN,DR,COLORADO SPRINGS,80920,38.95,-104.74
20414,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.7913,-104.747

In [14]:
permit_ytd_df2.reset_index(drop=True)
permit_ytd_df3 = permit_ytd_df2.reset_index(drop=True)
permit_ytd_df3

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR ( 2175 WATTS ),914,NaN,MANITOU,BLVD,COLORADO SPRINGS,80904,38.8449,-104.841
1,PV SOLAR ( 9180 WATTS ),20030,NaN,LOFTY PINE,LN,MONUMENT,80132,39.1214,-104.852
2,PV SOLAR ( 2640 WATTS ),7153,NaN,SILVER TORCH,TER,COLORADO SPRINGS,80919,38.9345,-104.868
3,PV SOLAR ( 2640 WATTS ),1060,NaN,BROMEFIELD,DR,FOUNTAIN,80817,38.6652,-104.669
4,PV SOLAR ( 4620 WATTS ),3851,NaN,REINDEER,CIR,COLORADO SPRINGS,80922,38.8832,-104.691
...,...,...,...,...,...,...,...,...,...
708,PV SOLAR ( 5100 WATTS ),6973,NaN,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.9444,-104.692
709,PV SOLAR ( 5440 WATTS ),8819,NaN,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.9291,-104.664
710,PV SOLAR ( 4760 WATTS ),1227,NaN,ROYALE,DR,COLORADO SPRINGS,80910,38.8138,-104.777
711,PV SOLAR ( 5780 WATTS ),8148,NaN,STEADMAN,DR,COLORADO SPRINGS,80920,38.95,-104.74
712,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.7913,-104.747

In [17]:
permit_data15_df = pd.read_table("allperms/allperms_2015.txt", header=0)


permit_data15_df = pd.DataFrame(permit_data15_df)
# permit_data_df.head()

permit_data15_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
0,J52778,27-Jan-2015,"1 CALL ELECTRIC, LLC",7.195105e+09,LUCKS DEE ANN QUALIFIED,434,E,ADD ELECTRICAL FOR GARAGE HEATER,0,"SUNSET MESA SUB FIL NO 4 COLO SPGS, AS",...,80918,0,200,0,0,NaN,38.913163,-104.750494,6.314311e+09,NaN
1,J56008,13-Mar-2015,"1 CALL ELECTRIC, LLC",7.195105e+09,SKABO CRAIG J & LORIE,434,E,INTERIOR REMODEL,0,ROCKRIMMON SUB GOLDEN HILLS FIL NO 2,...,80919,0,1750,0,0,NaN,38.919691,-104.821661,6.318206e+09,NaN
2,J63437,28-Apr-2015,"1 CALL ELECTRIC, LLC",7.195105e+09,STUARD ALAN,434,E,METER RESET,0,FOUNTAIN VALLEY RANCH SUB FIL NO 6C,...,80911,0,100,0,0,NaN,38.754035,-104.723209,6.512406e+09,NaN
3,J67497,28-May-2015,"1 CALL ELECTRIC, LLC",7.195105e+09,NEIGHBORHOOD APARTMENTS LLC,437,E,(12) A/C INSTALLS,0,"THE NEIGHBORHOOD AT PALMER PARK NO 2, LOT 1",...,80917,0,6000,C82137,0,NaN,38.883386,-104.762161,6.327405e+09,NaN
4,J67498,28-May-2015,"1 CALL ELECTRIC, LLC",7.195105e+09,PRCP-CS I LLC,437,E,(12) A/C INSTALLS,0,"THE NEIGHBORHOOD AT PALMER PARK NO 2, LOT 1",...,80917,0,6000,C82138,0,NaN,38.883647,-104.762120,6.327405e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59583,J64313,04-May-2015,ZOOK CONTRACTING,7.194992e+09,ATHA ERIC J,434,B,INTERIOR REMODEL,1,THE VILLAGE AT STRATTON PRESERVE CO SPGS,...,80906,0,9000,0,0,NaN,38.805936,-104.861110,7.426203e+09,NaN
59584,J66256,19-May-2015,ZOOK CONTRACTING,7.194992e+09,KUMAR RITESH,434,B,DECKS (491 SQ FT),1,TALON RIDGE AT PEREGRINE FIL NO 1 COLO SPRINGS,...,80919,491,30000,0,0,NaN,38.952779,-104.871406,7.303102e+09,NaN
59585,J66277,19-May-2015,ZOOK CONTRACTING,7.194992e+09,JOHNSON RUSSELL A,434,B,DECK,1,WOODMOOR GREENS,...,80132,480,20000,R82161,0,NaN,39.087695,-104.848407,7.113302e+09,NaN
59586,J79625,17-Aug-2015,ZOOK CONTRACTING,7.194992e+09,GOINS JOHN E,434,B,REROOF,1,NaN,...,80132,0,9800,0,0,NaN,39.083714,-104.883042,7.122001e+09,NaN
59587,J80441,21-Aug-2015,ZOOK CONTRACTING,7.194992e+09,STEPHENS GRANT S,434,B,DECK ADDITION,1,WOODMEN HILLS FIL NO 11,...,80831,240,15000,R84244,0,NaN,38.959629,-104.602711,4.231302e+09,NaN

In [18]:
permit_data15_edit_df = permit_data15_df[permit_data15_df["P-Comment"].str.contains("PV SOLAR")]
permit_data15_edit_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
1270,J57100,10-Mar-2015,"AC SOLAR, INC.",7.198219e+09,MAY MAUREEN LINDA TRUSTEE,434,B,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1,CORONA ADD COLO SPGS,...,80907,0,14388,R80570,0,NaN,38.856555,-104.815493,6.406416e+09,NaN
1271,J57101,10-Mar-2015,"AC SOLAR, INC.",7.198219e+09,HARKEY-MAY REVOCABLE TRUST,434,B,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1,E 94 FT OF CORONA ADD COLO SPGS,...,80907,0,18312,R80571,0,NaN,38.856426,-104.815468,6.406416e+09,NaN
1274,J71106,22-Jun-2015,"AC SOLAR, INC.",7.198219e+09,HAMAMOTO GEORGE J & PAMELA K,434,B,PV SOLAR INSTALLATION,1,HIGH POINT GARDENS COLO SPGS,...,80904,0,23544,R82853,0,NaN,38.851951,-104.837389,7.412103e+09,NaN
1275,J86121,30-Sep-2015,"AC SOLAR, INC.",7.198219e+09,JULIAN JERRY K,434,B,PV SOLAR ( 7800 WATTS ),1,NaN,...,80908,0,31200,R84966,0,NaN,39.036748,-104.722381,6.201000e+09,NaN
1276,J88426,15-Oct-2015,"AC SOLAR, INC.",7.198219e+09,AUSTIN PATRICIA T,434,E,PV SOLAR (ADD BATTERIES TO EXISTING),1,A REPLAT OF VISTA GRANDE TERRACE,...,80918,0,8000,R85297,0,NaN,38.911873,-104.779233,6.316402e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55049,J54839,13-Feb-2015,TRITON ROOFING,7.193224e+09,SABO CINDY K,434,B,PV SOLAR ( 7700 WATTS ),0,FAIRFAX STATION FIL NO 3 COLO SPGS,...,80920,0,37268,R79810,0,NaN,38.946250,-104.734996,6.301314e+09,NaN
55050,J55025,17-Feb-2015,TRITON ROOFING,7.193224e+09,GARVIN CARL D,434,B,PV SOLAR ( 5500 WATTS ),0,OLD FARM SUB FIL NO 9 COLO SPGS,...,80917,0,24915,R79819,0,NaN,38.905801,-104.731267,6.324202e+09,NaN
55053,J57497,12-Mar-2015,TRITON ROOFING,7.193224e+09,LAUNSBY ROBERT G & DIANE M,434,B,PV SOLAR ( 5400 WATTS ),0,SUMMERFIELD AT BRIARGATE FIL NO 8 CO SPGS,...,80920,0,29376,R80265,0,NaN,38.965216,-104.773901,6.234207e+09,NaN
55090,J65927,15-May-2015,TRITON ROOFING,7.193224e+09,TROJAK JOHN III,434,B,PV SOLAR ROOF MOUNT FLUSH ( 2520 WATTS ),1,RUSTIC HILLS SUB 2,...,80915,0,10080,R82088,0,NaN,38.861736,-104.733256,6.401205e+09,NaN
58033,J70042,15-Jun-2015,"WINTERS ELECTRIC, INC.",7.194771e+09,BLUE DOT PLACE LLC,437,B,PV SOLAR ROOF MOUNT ( 45000 WATTS ),1,BLUE DOT PLACE SUB,...,80903,0,180000,C82663,0,NaN,38.827598,-104.822664,6.418317e+09,NaN

In [37]:
permit_15_df = permit_data15_edit_df.drop(["Permit", "Owner", "Date", "Contractor", "Cont-Phone", "P-Code", "Dept", "Units", "Lot", "Block", "Subdivision", "Suite", "Sq-Ft", "Value", "Plan#", "CONum", "CODate", "Parcel", "Unnamed: 28"], axis=1)
permit_15_df

permit_15_df2 = permit_15_df.T.drop_duplicates().T
permit_15_df2
permit_15_df3 = permit_15_df2.reset_index(drop=True)
permit_15_df3

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608,N,CORONA,ST,COLORADO SPRINGS,80907,38.8566,-104.815
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604,N,CORONA,ST,COLORADO SPRINGS,80907,38.8564,-104.815
2,PV SOLAR INSTALLATION,1217,E,HIGH POINT,LN,COLORADO SPRINGS,80904,38.852,-104.837
3,PV SOLAR ( 7800 WATTS ),14170,NaN,HOLMES,RD,COLORADO SPRINGS,80908,39.0367,-104.722
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565,W,DESCANSO,CIR,COLORADO SPRINGS,80918,38.9119,-104.779
...,...,...,...,...,...,...,...,...,...
158,PV SOLAR ( 7700 WATTS ),7894,NaN,ULTRA,DR,COLORADO SPRINGS,80920,38.9463,-104.735
159,PV SOLAR ( 5500 WATTS ),5150,NaN,HARVEST,RD,COLORADO SPRINGS,80917,38.9058,-104.731
160,PV SOLAR ( 5400 WATTS ),2830,NaN,BETHUNE,CT,COLORADO SPRINGS,80920,38.9652,-104.774
161,PV SOLAR ROOF MOUNT FLUSH ( 2520 WATTS ),2003,NaN,PRONG HORN,LN,COLORADO SPRINGS,80915,38.8617,-104.733
162,PV SOLAR ROOF MOUNT ( 45000 WATTS ),412,S,NEVADA,AVE,COLORADO SPRINGS,80903,38.8276,-104.823

In [20]:
permit_data16_df = pd.read_table("allperms/allperms_2016.txt", header=0)


permit_data16_df = pd.DataFrame(permit_data16_df)
# permit_data_df.head()

permit_data16_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
0,J98810,18-Jan-2016,"1 CALL ELECTRIC, LLC",7.195105e+09,US BANK TRUSTEE,434,E,METER RESET,0,PARK HILL SUB 4,...,80910,0,100,0,0,NaN,38.828096,-104.763358,6.41541e+09,NaN
1,K17630,28-Jul-2016,"1 CALL ELECTRIC, LLC",7.195105e+09,CONSTITUTION SQUARE,437,E,REPLACE CONDENSER,0,NORTHCREST FIL NO 4,...,80915,0,100,0,0,NaN,38.866971,-104.698669,5.40521e+09,NaN
2,K18875,19-Aug-2016,"1 CALL ELECTRIC, LLC",7.195105e+09,ANTHONY HOMES LTD,434,E,A/C CONDENSING UNIT INSTALLATION,0,AUSTIN RIDGE FIL NO 1,...,80918,0,100,0,0,NaN,38.912804,-104.739049,6.31442e+09,NaN
3,K23617,28-Jul-2016,"1 CALL ELECTRIC, LLC",7.195105e+09,Stetson Meadows,437,E,REPLACE CONDENSER,0,NaN,...,80922,0,100,0,0,NaN,38.896420,-104.714906,NaN,NaN
4,K26791,19-Aug-2016,"1 CALL ELECTRIC, LLC",7.195105e+09,LAMPLIGHT SQUARE,437,E,CONDENSER REPLACEMENT,0,NaN,...,80918,0,100,0,0,NaN,38.921925,-104.794586,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87199,K17104,15-Jun-2016,ZOOK CONTRACTING,7.194992e+09,HAGOOD DONALD M + MARION E,434,B,REROOF,1,VISTA GRANDE TERRACE FIL NO 23,...,80918,0,10000,0,0,NaN,38.919807,-104.766685,6.3152e+09,NaN
87200,K61175,14-Nov-2016,ZOOK CONTRACTING,7.194992e+09,HERRLE JEFFREY S & KAREN A,434,B,REROOF,1,PINE GLEN,...,80908,0,12000,0,0,NaN,39.041299,-104.655254,5.203e+09,NaN
87201,K61847,15-Nov-2016,ZOOK CONTRACTING,7.194992e+09,TED ZOOK II,434,B,REROOF,1,THE CASCADES AT SPRINGS RANCH FIL NO 6 PLAT,...,80922,0,3000,0,0,NaN,38.878666,-104.695630,5.33221e+09,NaN
87202,K66002,05-Dec-2016,ZOOK CONTRACTING,7.194992e+09,HAGOOD DONALD M & MARION E,434,B,REROOF,1,NORTHRIDGE FIL 1 COLO SPGS,...,80917,0,7000,0,0,NaN,38.888563,-104.751352,6.32631e+09,NaN
87203,K66003,05-Dec-2016,ZOOK CONTRACTING,7.194992e+09,HAGOOD DONALD M & MARION E,434,B,REROOF,1,THE RIDGE SUB COLO SPGS,...,80917,0,9000,0,0,NaN,38.900850,-104.733034,6.3243e+09,NaN

In [21]:
permit_data16_edit_df = permit_data16_df[permit_data16_df["P-Comment"].str.contains("PV SOLAR")]
permit_data16_edit_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
2797,K00773,08-Feb-2016,"AC SOLAR, INC.",7.198219e+09,SHELDON KING,434,B,PV SOLAR ( 3270 WATTS ),1,NaN,...,80920,0,13080,R86346,0,NaN,38.978512,-104.795705,6.22901e+09,NaN
2798,K03143,29-Feb-2016,"AC SOLAR, INC.",7.198219e+09,RAY HOWARD C & MARY J,434,B,PV SOLAR ( 4690 WATTS ),1,OAK HILLS FILING NO 3 COLO SPGS,...,80919,0,18760,R87455,0,NaN,38.931370,-104.850623,7.3114e+09,NaN
3163,K09771,04-May-2016,ACE ELECTRIC II,7.196860e+09,LARSON CURTIS W,434,E,PV SOLAR ( 3640 WATTS ),0,TRAILRIDGE SUB FIL NO 1 COLO SPGS,...,80916,0,300,R88881,0,NaN,38.819068,-104.744872,6.42311e+09,NaN
11949,K01855,17-Feb-2016,BESTWAY PLUMBING,7.195991e+09,HUERTA DANIEL P,434,B,PV SOLAR ( 5500 WATTS ),1,WESTCREEK AT WOLF RANCH SUB FIL NO 9,...,80924,0,22000,R86877,0,NaN,38.961047,-104.715893,5.2313e+09,NaN
11950,K06724,30-Mar-2016,BESTWAY PLUMBING,7.195991e+09,JAY WHALEN,434,B,PV SOLAR ( 11250 WATTS ),0,SUNDOWN SUB FIL NO 24 CO SPGS,...,80923,0,45000,R87894,0,NaN,38.922771,-104.726257,6.31312e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80288,K12983,16-May-2016,TRITON ROOFING,7.193224e+09,KOOPMAN SCOTT K,434,B,PV SOLAR FLUSH ROOF MOUNT ( 2280 WATTS ),1,WOODMEN HILLS FIL NO 5,...,80831,0,9120,R89508,0,NaN,38.956051,-104.605908,4.2313e+09,NaN
80469,K42126,21-Sep-2016,TRITON ROOFING,7.193224e+09,TOMPKINS JOHN,434,B,PV SOLAR ROOF MOUNT FLUSH ( 6840 WATTS ),1,INDIGO RANCH NORTH AT STETSON RIDGE FIL NO 8,...,80923,0,27360,R92476,0,NaN,38.929169,-104.690605,5.3084e+09,NaN
80542,K51101,13-Oct-2016,TRITON ROOFING,7.193224e+09,CRABILL DAVID L,434,B,PV SOLAR FLUSH ROOF MOUNT ( 7200 WATTS ),1,PONDEROSA AT LORSON RANCH FIL NO 2,...,80925,0,28800,R92946,0,NaN,38.740990,-104.634882,5.51441e+09,NaN
80572,K57128,31-Oct-2016,TRITON ROOFING,7.193224e+09,MCCANLESS PATRICK M,434,B,PV SOLAR ROOF MOUNT,1,BANNING LEWIS RANCH FIL NO 6,...,80915,0,7332,R93281,0,NaN,38.931202,-104.679619,5.30931e+09,NaN
80595,K61670,15-Nov-2016,TRITON ROOFING,7.193224e+09,GARVIN CARL D,434,B,PV SOLAR REMOVE AND REPLACE,1,OLD FARM SUB FIL NO 9 COLO SPGS,...,80917,0,500,0,0,NaN,38.905801,-104.731267,6.3242e+09,NaN

In [22]:
permit_16_df = permit_data16_edit_df.drop(["Permit", "Owner", "Date", "Contractor", "Cont-Phone", "P-Code", "Dept", "Units", "Lot", "Block", "Subdivision", "Suite", "Sq-Ft", "Value", "Plan#", "CONum", "CODate", "Parcel", "Unnamed: 28"], axis=1)
permit_16_df

permit_16_df2 = permit_16_df.T.drop_duplicates().T
permit_16_df2
permit_16_df3 = permit_16_df2.reset_index(drop=True)
permit_16_df3

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR ( 3270 WATTS ),1655,NaN,MONTEZUMA,RD,COLORADO SPRINGS,80920,38.9785,-104.796
1,PV SOLAR ( 4690 WATTS ),6925,NaN,OAK VALLEY,LN,COLORADO SPRINGS,80919,38.9314,-104.851
2,PV SOLAR ( 3640 WATTS ),4405,NaN,ALLESANDRO,DR,COLORADO SPRINGS,80916,38.8191,-104.745
3,PV SOLAR ( 5500 WATTS ),8869,NaN,RORY CREEK,ST,COLORADO SPRINGS,80924,38.961,-104.716
4,PV SOLAR ( 11250 WATTS ),5170,NaN,LUSTER,DR,COLORADO SPRINGS,80923,38.9228,-104.726
...,...,...,...,...,...,...,...,...,...
210,PV SOLAR FLUSH ROOF MOUNT ( 2280 WATTS ),11924,NaN,BONIFAY,LOOP,PEYTON,80831,38.9561,-104.606
211,PV SOLAR ROOF MOUNT FLUSH ( 6840 WATTS ),6716,NaN,SILVER STAR,LN,COLORADO SPRINGS,80923,38.9292,-104.691
212,PV SOLAR FLUSH ROOF MOUNT ( 7200 WATTS ),6275,NaN,HUNGRY HORSE,LN,COLORADO SPRINGS,80925,38.741,-104.635
213,PV SOLAR ROOF MOUNT,7999,NaN,SILVER BIRCH,DR,COLORADO SPRINGS,80915,38.9312,-104.68
214,PV SOLAR REMOVE AND REPLACE,5150,NaN,HARVEST,RD,COLORADO SPRINGS,80917,38.9058,-104.731

In [23]:
permit_data17_df = pd.read_table("allperms/allperms_2017.txt", header=0)


permit_data17_df = pd.DataFrame(permit_data17_df)
# permit_data_df.head()

permit_data17_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
0,K61524,01-Feb-2017,"1 CALL ELECTRIC, LLC",7.195105e+09,FRANK SHOPTAUGH,436,E,ATTACHED GARAGE,0,NaN,...,80904,516,500,0,0,NaN,38.852155,-104.852345,7.411102e+09,NaN
1,K63690,24-Jan-2017,"1 CALL ELECTRIC, LLC",7.195105e+09,ANTHONY HOMES LTD,436,E,DETACHED GARAGE,0,AUSTIN RIDGE FIL NO 1,...,80918,644,1000,R92110,0,NaN,38.912804,-104.739049,6.314417e+09,NaN
2,K75497,08-Feb-2017,"1 CALL ELECTRIC, LLC",7.195105e+09,MARKS MICHAELLE,434,E,A/C COIL & CONDENSING UNIT INSTALLATION,0,CRESTLINE HEIGHTS FIL NO 5 CO SPGS,...,80916,0,250,0,0,NaN,38.819374,-104.751235,6.423204e+09,NaN
3,K83462,14-Mar-2017,"1 CALL ELECTRIC, LLC",7.195105e+09,MAEZ MARTIN R SR + DOROTHY C,434,E,FPE PANEL CHANGE,0,CIMARRON WESTRIDGE FIL NO 1,...,80915,0,750,0,0,NaN,38.856428,-104.708392,5.406413e+09,NaN
4,K83463,14-Mar-2017,"1 CALL ELECTRIC, LLC",7.195105e+09,LEAVITT FAMILY LIVING TRUST,434,E,RUN ELECTRICAL FOR DETACHED GARAGE,0,HASTINGS 6TH ADD COLO SPGS,...,80907,0,500,0,0,NaN,38.854270,-104.812590,6.406418e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74951,L21384,23-Oct-2017,"ZION ROOFING & CONTRACTING, LLC.",7.193099e+09,MACIAS HUGO,434,B,REROOF,0,DEERFIELD HILLS FIL NO 1,...,80916,0,4000,0,0,NaN,38.783456,-104.750249,6.435308e+09,NaN
74952,L21925,25-Oct-2017,"ZION ROOFING & CONTRACTING, LLC.",7.193099e+09,MACIAS HUGO,434,B,REROOF,0,HORIZON III SUB FIL NO 2 COLO SPGS,...,80916,0,5000,0,0,NaN,38.813930,-104.743012,6.423404e+09,NaN
74953,L24166,11-Nov-2017,"ZION ROOFING & CONTRACTING, LLC.",7.193099e+09,MACIAS HUGO,434,B,REROOF,0,DEERFIELD HILLS FIL NO 1,...,80916,0,4000,0,0,NaN,38.783344,-104.750696,6.435308e+09,NaN
74954,K77850,13-Feb-2017,ZOOK CONTRACTING,7.194992e+09,PAM SCHULTS CONSULTING,434,B,REROOF,1,S/A PLAT CRESCENT VIEW ADD COLO SPGS,...,80909,0,8800,0,0,NaN,38.848245,-104.796661,6.408114e+09,NaN
74955,K85926,27-Mar-2017,ZOOK CONTRACTING,7.194992e+09,BRITTON LARRY H,101,B,RESIDENCE,1,BRITTON SUB EX PLAT,...,80908,3850,412258,R95779,0,NaN,39.034253,-104.718865,5.206006e+09,NaN

In [24]:
# permit17_df = permit_data17_df.dropna(how="all", axis = 1)
# permit17_df

permit_data17_edit_df = permit_data17_df.dropna(subset=['P-Comment'])
permit_data17_edit_df

permit_data17_edit2_df = permit_data17_edit_df[permit_data17_edit_df["P-Comment"].str.contains("PV SOLAR")]
permit_data17_edit2_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
1951,K70936,04-Jan-2017,"AC SOLAR, INC.",7.198219e+09,2007 VENTURA DRIVE LLC,434,B,PV SOLAR ( 3080 WATTS ),1,PIKES PEAK PARK SUB 18,...,80910,0,12320,R94083,0,NaN,38.802878,-104.767211,6.427319e+09,NaN
1954,L05903,13-Jul-2017,"AC SOLAR, INC.",7.198219e+09,KOERPERICH CHRISTOPHER JAMES,434,B,PV SOLAR ( 6380 WATTS ),1,STETSON HILLS FIL NO 7 COLO SPGS,...,80922,0,25520,R98942,0,NaN,38.904366,-104.706730,5.319101e+09,NaN
6271,K78399,15-Feb-2017,ARE SOLAR,3.036650e+09,WADKOWSKI CHARLES M & BRENDA M,434,B,PV SOLAR - NEW ARRAY ( 95063 WATTS ),1,"A REPLAT OF LOTS 9, 10, 11, 12, 13, 14, 17, 18",...,80926,0,380252,R95063,0,NaN,38.615448,-104.895787,7.600000e+09,NaN
6272,L01599,20-Jun-2017,ARE SOLAR,3.036650e+09,FOGLER STEPHEN H,434,B,PV SOLAR ( 10200 WATTS ),1,KINGS DEER SUB FIL NO 1,...,80132,0,40800,R97527,0,NaN,39.108206,-104.804891,6.108002e+09,NaN
6273,L11939,18-Aug-2017,ARE SOLAR,3.036650e+09,HARMON DUANE,434,B,PV SOLAR ( 9900 WATTS ),1,NaN,...,80829,0,39600,R98869,0,NaN,38.837917,-104.914325,7.417000e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74939,K88087,07-Apr-2017,ZING SOLAR OF COLORADO,8.882440e+09,BURNETT SCOTT B,434,B,PV SOLAR ( 7560 WATTS ),1,CUMBERLAND GREEN FIL NO 3,...,80817,0,30240,R96434,0,NaN,38.694429,-104.680615,5.533309e+09,NaN
74940,K88089,07-Apr-2017,ZING SOLAR OF COLORADO,8.882440e+09,BURNETT SCOTT K,434,B,PV SOLAR ( 6440 WATTS ),1,CUMBERLAND GREEN FIL NO 3,...,80817,0,25760,R96432,0,NaN,38.694412,-104.679359,5.533309e+09,NaN
74941,K88694,11-Apr-2017,ZING SOLAR OF COLORADO,8.882440e+09,KEMP RICHARD S,434,B,PV SOLAR ROOF MOUNT FLUSH ( 7560 WATTS ),1,THE MEADOWS FIL NO 1,...,80908,0,30240,R96496,0,NaN,38.949310,-104.643460,5.302005e+09,NaN
74942,K89926,17-Apr-2017,ZING SOLAR OF COLORADO,8.882440e+09,TURNER IAN S,434,B,PV SOLAR ROOF MOUNT ( 6720 WATTS ),1,PROMONTORY POINTE,...,80132,0,26880,R96674,0,NaN,39.059885,-104.825554,6.130316e+09,NaN
74943,K90777,20-Apr-2017,ZING SOLAR OF COLORADO,8.882440e+09,STEVEN SOWLES,434,B,PV SOLAR ( 11200 WATTS ),1,KINGS DEER HIGHLANDS SUB FIL NO 6 PLAT 10783,...,80132,0,44800,R96783,0,NaN,39.108460,-104.787192,6.109002e+09,NaN

In [25]:
permit_17_df = permit_data17_edit2_df.drop(["Permit", "Owner", "Date", "Contractor", "Cont-Phone", "P-Code", "Dept", "Units", "Lot", "Block", "Subdivision", "Suite", "Sq-Ft", "Value", "Plan#", "CONum", "CODate", "Parcel", "Unnamed: 28"], axis=1)
permit_17_df

permit_17_df2 = permit_17_df.T.drop_duplicates().T
permit_17_df3 = permit_17_df2.reset_index(drop=True)
permit_17_df3

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR ( 3080 WATTS ),2007,NaN,VENTURA,DR,COLORADO SPRINGS,80910,38.8029,-104.767
1,PV SOLAR ( 6380 WATTS ),6133,NaN,LOWLANDER,CT,COLORADO SPRINGS,80922,38.9044,-104.707
2,PV SOLAR - NEW ARRAY ( 95063 WATTS ),15220,NaN,HWY 115,NaN,COLORADO SPRINGS,80926,38.6154,-104.896
3,PV SOLAR ( 10200 WATTS ),765,E,KINGS DEER,PT,MONUMENT,80132,39.1082,-104.805
4,PV SOLAR ( 9900 WATTS ),5815,NaN,CRYSTAL PARK,RD,MANITOU SPRINGS,80829,38.8379,-104.914
...,...,...,...,...,...,...,...,...,...
569,PV SOLAR ( 7560 WATTS ),7942,NaN,ENCLAVE,LN,FOUNTAIN,80817,38.6944,-104.681
570,PV SOLAR ( 6440 WATTS ),7978,NaN,ENCLAVE,LN,FOUNTAIN,80817,38.6944,-104.679
571,PV SOLAR ROOF MOUNT FLUSH ( 7560 WATTS ),9975,NaN,RAPTOR,LOOP,FALCON,80908,38.9493,-104.643
572,PV SOLAR ROOF MOUNT ( 6720 WATTS ),15625,NaN,TRANSCONTINENTAL,DR,MONUMENT,80132,39.0599,-104.826
573,PV SOLAR ( 11200 WATTS ),19016,NaN,MALMSBURY,CT,MONUMENT,80132,39.1085,-104.787

In [26]:
permit_data18_df = pd.read_table("allperms/allperms_2018.txt", header=0)


permit_data18_df = pd.DataFrame(permit_data18_df)
# permit_data_df.head()

permit_data18_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
0,L32228,25-May-2018,"1 CALL ELECTRIC, LLC",7.195105e+09,STEPHENS RICHARD T,434,E,FURNACE REPLACEMENT WITH VENT & NEW A/C,0,HERITAGE SUB UNIT NO 2 COLO SPGS,...,80916,0,600,0,0,NaN,38.802781,-104.745821,6.426416e+09,NaN
1,L44569,23-Apr-2018,"1 CALL ELECTRIC, LLC",7.195105e+09,CUCUZZA CONSTRUCTION INC D/B/A,434,E,A/C COIL & CONDENSING UNIT INSTALLATION,0,MX CROSSING SUB,...,80922,0,150,0,0,NaN,38.904397,-104.700543,5.320326e+09,NaN
2,L63988,25-Jul-2018,"1 CALL ELECTRIC, LLC",7.195105e+09,Rachel Lamot,434,E,A/C CONDENSING UNIT INSTALLATION,0,HIGHLAND PARK 2 COLO SPGS,...,80909,0,750,0,0,NaN,38.866401,-104.780527,6.404103e+09,NaN
3,L69562,09-Aug-2018,"1 CALL ELECTRIC, LLC",7.195105e+09,DELL MCDERMOTT,434,E,ADD RECEPTACLES IN GARAGE AND ON PATIO,0,EASTVIEW ESTATES FIL NO 2,...,80922,0,750,0,0,NaN,38.908216,-104.687332,5.320107e+09,NaN
4,L70157,27-Aug-2018,"1 CALL ELECTRIC, LLC",7.195105e+09,BRACEY ZOE E BUCK,434,E,GARAGE CONVERSION,0,E 10 FT OF LOT 18 COLORADO CITY COLO,...,80904,0,750,0,0,NaN,38.847919,-104.859790,7.411220e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92081,L43850,16-Apr-2018,ZOOK CONTRACTING,7.194992e+09,HINCKFOOT MICHAEL S,434,B,BASEMENT REMODEL,1,SERENITY PARK AT NORTHGATE,...,80921,0,15000,0,0,NaN,39.017677,-104.804803,6.208306e+09,NaN
92082,L57250,29-Jun-2018,ZOOK CONTRACTING,7.194992e+09,CRUEGER,436,B,DETACHED GARAGE,1,LOTS 8-13 PALMER LAKE,...,80133,768,28389,0,0,NaN,39.122978,-104.920508,7.105219e+09,NaN
92083,L88964,11-Oct-2018,ZOOK CONTRACTING,7.194992e+09,KRUEGER HARRY L &,434,B,ADDITION - ENGINEERED,1,LOTS 8-13 PALMER LAKE,...,80133,1708,40708,R111089,0,NaN,39.122978,-104.920508,7.105219e+09,NaN
92084,L89354,12-Oct-2018,ZOOK CONTRACTING,7.194992e+09,LANG DEL T,434,B,DECK REMODEL,1,NaN,...,80132,0,17500,R111367,0,NaN,39.098798,-104.828946,6.118003e+09,NaN
92085,L25922,31-Jan-2018,"ZUES ELECTRIC, LLC.",3.032298e+09,WEIGOLD DANIEL S & KAREN M,436,E,DETACHED GARAGE,0,THE MEADOWS FIL NO 1,...,80908,1728,2200,R102177,0,NaN,38.949840,-104.636693,5.302003e+09,NaN

In [27]:
permit_data18_edit_df = permit_data18_df[permit_data18_df["P-Comment"].str.contains("PV SOLAR")]
permit_data18_edit_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
2400,L55152,22-Jun-2018,"AC SOLAR, INC.",7.198219e+09,SPANGLER LIVING TRUST,434,B,PV SOLAR ( 9360 WATTS ),1,CRYSTAL HILLS SUB 5,...,80829,0,37440,R108094,0,NaN,38.848506,-104.893730,7.409108e+09,NaN
2401,L61842,16-Jul-2018,"AC SOLAR, INC.",7.198219e+09,HARSCH GREGORY L & MYONG M,434,B,PV SOLAR REMOVE AND REPLACE,1,SUNRISE RIDGE SUB FIL NO 5,...,80911,0,2000,0,0,NaN,38.726168,-104.683402,5.520416e+09,NaN
2402,L73033,21-Aug-2018,"AC SOLAR, INC.",7.198219e+09,HUMPHRIES JERRY D,434,B,PV SOLAR ( 3440 WATTS ),1,DUBLIN NORTH KWAN PARCEL FIL NO 8,...,80923,0,13760,R109842,0,NaN,38.930728,-104.710110,5.307401e+09,NaN
5789,L79993,12-Sep-2018,"ALL SOLAR, INC",7.193724e+09,GREYMOON DEBORAH,434,B,PV SOLAR REMOVE AND REPLACE,1,NaN,...,80809,0,5700,0,0,NaN,38.911461,-104.979914,8.322100e+09,NaN
8023,L34757,07-Feb-2018,ARE SOLAR,3.036650e+09,REILLY JOHN F & JACALYN A,434,B,PV SOLAR ( 5130 WATTS ),1,PAINT BRUSH HILLS FIL NO 6,...,80831,0,20520,R103578,0,NaN,38.977636,-104.612901,5.225108e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88737,L50567,30-May-2018,WESTERN ELECTRIC,7.197492e+09,CAMBLE LARNELL,434,B,PV SOLAR ( 4060 WATTS ),1,EAGLESIDE VIEW SUB FIL NO 2,...,80817,0,16240,R107233,0,NaN,38.690772,-104.675849,5.604209e+09,NaN
88738,L52209,07-Jun-2018,WESTERN ELECTRIC,7.197492e+09,WUNDER LISENKA,434,B,PV SOLAR ( 2900 WATTS ),1,FOUNTAIN VALLEY RANCH SUB FIL NO 9,...,80911,0,11600,R107622,0,NaN,38.761799,-104.728652,6.512111e+09,NaN
88741,L67189,31-Jul-2018,WESTERN ELECTRIC,7.197492e+09,HOYT ANDREW E,434,E,PV SOLAR ( 7540 WATTS ),1,NaN,...,80808,0,30160,R109183,0,NaN,38.925063,-104.255923,1.300000e+09,NaN
91027,L96637,12-Nov-2018,"WOODLAND ELECTRIC, LLC",7.193382e+09,MO WAYNE,434,E,PV SOLAR ( 9810 WATTS ),1,NaN,...,80132,0,39240,R111036,0,NaN,39.104943,-104.820277,6.107002e+09,NaN
91031,M05048,28-Dec-2018,"WOODLAND ELECTRIC, LLC",7.193382e+09,KENNEDY JUSTON,434,E,PV SOLAR ( 6540 WATTS ),0,NaN,...,80808,0,26160,R112897,0,NaN,38.824657,-104.409016,3.400000e+09,NaN

In [28]:
permit_18_df = permit_data18_edit_df.drop(["Permit", "Owner", "Date", "Contractor", "Cont-Phone", "P-Code", "Dept", "Units", "Lot", "Block", "Subdivision", "Suite", "Sq-Ft", "Value", "Plan#", "CONum", "CODate", "Parcel", "Unnamed: 28"], axis=1)
permit_18_df

permit_18_df2 = permit_18_df.T.drop_duplicates().T
permit_18_df2
permit_18_df3 = permit_18_df2.reset_index(drop=True)
permit_18_df3

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR ( 9360 WATTS ),312,NaN,SUTHERLAND,PL,MANITOU SPRINGS,80829,38.8485,-104.894
1,PV SOLAR REMOVE AND REPLACE,7235,NaN,WOODY CREEK,DR,COLORADO SPRINGS,80911,38.7262,-104.683
2,PV SOLAR ( 3440 WATTS ),6760,NaN,EDMONDSTOWN,DR,COLORADO SPRINGS,80923,38.9307,-104.71
3,PV SOLAR REMOVE AND REPLACE,8585,NaN,CHIPITA PARK,RD,CASCADE,80809,38.9115,-104.98
4,PV SOLAR ( 5130 WATTS ),11465,NaN,ALLENDALE,DR,PEYTON,80831,38.9776,-104.613
...,...,...,...,...,...,...,...,...,...
1501,PV SOLAR ( 4060 WATTS ),8217,NaN,WAGON SPOKE,TRL,FOUNTAIN,80817,38.6908,-104.676
1502,PV SOLAR ( 2900 WATTS ),4835,NaN,BRANT,RD,COLORADO SPRINGS,80911,38.7618,-104.729
1503,PV SOLAR ( 7540 WATTS ),6455,S,CALHAN,HWY,CALHAN,80808,38.9251,-104.256
1504,PV SOLAR ( 9810 WATTS ),365,E,STIRRUP,TRL,MONUMENT,80132,39.1049,-104.82
1505,PV SOLAR ( 6540 WATTS ),22750,NaN,HANDLE,RD,CALHAN,80808,38.8247,-104.409

In [29]:
permit_data19_df = pd.read_table("allperms/allperms_2019.txt", header=0)


permit_data19_df = pd.DataFrame(permit_data19_df)
# permit_data_df.head()

permit_data19_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
0,M16589,23-Apr-2019,"1 CALL ELECTRIC, LLC",7.195105e+09,PC COTTONWOOD LLC,437,E,INTERIOR REMODEL,1,DELIVERANCE SUB FIL NO 1 COLO SPGS,...,80918,0,200,C114760,0,NaN,38.926623,-104.773621,6.310302e+09,NaN
1,M26817,07-May-2019,"1 CALL ELECTRIC, LLC",7.195105e+09,NOVOTNY JUSTIN R,434,E,SERVICE UPGRADE,0,ABRAHAMSONS VENETIAN VILLAGE,...,80907,0,1000,0,0,NaN,38.878437,-104.800029,6.332101e+09,NaN
2,M39344,14-Oct-2019,"1 CALL ELECTRIC, LLC",7.195105e+09,KIMBALL KIRK M,434,E,FIRE DAMAGE,0,NaN,...,80831,0,3500,R118785,0,NaN,39.055785,-104.512265,4.100000e+09,NaN
3,M45031,13-Aug-2019,"1 CALL ELECTRIC, LLC",7.195105e+09,NELSON TROY T,434,E,SERVICE UPGRADE,0,WIDEFIELD HOMES NO 7,...,80911,0,750,0,0,NaN,38.734606,-104.718289,5.519203e+09,NaN
4,M65802,27-Dec-2019,"1 CALL ELECTRIC, LLC",7.195105e+09,"DELL'OLO DONNA TRUST, CORNISH",437,E,SERVICE UPGRADE-INCLUDE 7&9 E ST.VRAIN UNIT 2&7,1,SAFEWAY MARKETPLACE EAST FIL NO 5 PLAT #10664,...,80903,0,3500,C123698,0,NaN,38.840718,-104.824413,6.407319e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78779,M57483,24-Oct-2019,"ZION ROOFING & CONTRACTING, LLC.",7.193099e+09,LAMBRECHT & SON LLC,434,B,REROOF,0,PLEASANT VALLEY SUB COLO SPGS S/A PLAT,...,80904,0,2500,0,0,NaN,38.855500,-104.867526,7.402314e+09,NaN
78780,M63514,06-Dec-2019,"ZION ROOFING & CONTRACTING, LLC.",7.193099e+09,PATRICK ALMA REVOC TRUST,434,B,REROOF,0,STRATMOOR VILLAGE 2,...,80906,0,3500,0,0,NaN,38.772917,-104.797024,6.505402e+09,NaN
78781,L99281,20-May-2019,ZOOK CONTRACTING,7.194992e+09,FREDERICK SHANA,434,B,ADDITION (ENGINEER STAMPED),0,CORONA ADD COLO SPGS,...,80907,1246,36024,R111714,0,NaN,38.859971,-104.814678,6.406407e+09,NaN
78782,M28074,13-May-2019,ZOOK CONTRACTING,7.194992e+09,WYSS BRETT J,434,B,BASEMENT FINISH,1,WILDWOOD VILLAGE UNIT 1,...,80908,1199,34665,0,0,NaN,39.053997,-104.665860,5.133001e+09,NaN
78783,M37302,01-Jul-2019,ZOOK CONTRACTING,7.194992e+09,LONNQUIST KEITH J,434,B,DECK,1,FOREST VIEW ACRES SUB,...,80132,418,12200,R118493,0,NaN,39.097610,-104.908494,7.117003e+09,NaN

In [30]:
permit_data19_edit_df = permit_data19_df[permit_data19_df["P-Comment"].str.contains("PV SOLAR")]
permit_data19_edit_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
1623,M32814,07-Jun-2019,"AC SOLAR, INC.",7.198219e+09,HARRINGTON FAMILY TRUST,434,B,PV SOLAR REMOVE AND REPLACE,1,HOLLAND PARK SUB NO 6,...,80907,0,3000,0,0,NaN,38.889868,-104.841522,7.325216e+09,NaN
1624,M40479,18-Jul-2019,"AC SOLAR, INC.",7.198219e+09,CUMMINS CHRIS D,434,B,PV SOLAR ( 7459 WATTS ),1,NaN,...,80921,0,29836,R118990,0,NaN,39.045515,-104.783177,6.133000e+09,NaN
1625,M45391,14-Aug-2019,"AC SOLAR, INC.",7.198219e+09,NOLTE LYNN G &,434,B,PV SOLAR REMOVE AND REPLACE,1,GATEWAY VISTA FIL NO 2 COLO SPGS,...,80916,0,4000,0,0,NaN,38.823378,-104.747346,6.423102e+09,NaN
1626,M49621,09-Sep-2019,"AC SOLAR, INC.",7.198219e+09,COOK JAMES S,434,B,PV SOLAR ( 7000 WATTS ),1,PINE CREEK SUB FIL NO 1,...,80920,0,28000,R120387,0,NaN,38.970318,-104.791252,6.228301e+09,NaN
2646,M39984,16-Jul-2019,"AFFORDABLE ALTERNATIVE ENERGY, LLC",3.036650e+09,WINSLOW ASHLEY JO,434,B,PV SOLAR ( 8060 WATTS ),1,VILLAGES AT WOLF RANCH SUB FIL NO 21,...,80924,0,32240,R117916,0,NaN,38.963055,-104.718678,5.231214e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73776,M62828,04-Dec-2019,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,BRANDLI JOHN G,434,B,PV SOLAR ( 6080 WATTS ),1,COLORADO COUNTRY FIL NO 3 COLO SPGS,...,80917,0,24320,R122914,0,NaN,38.881812,-104.727092,6.336106e+09,NaN
73777,M63416,06-Dec-2019,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,TINCKNELL CHARLES C,434,B,PV SOLAR ( 3840 WATTS ),1,DAYBREAK AT WOLF RANCH SUB FIL NO 1,...,80920,0,15360,R123130,0,NaN,38.971585,-104.719636,6.225405e+09,NaN
73778,M63417,06-Dec-2019,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,BOONE CAUDILL,434,B,PV SOLAR ( 4800 WATTS ),1,DAYBREAK AT WOLF RANCH SUB FIL NO 1,...,80920,0,19200,R123127,0,NaN,38.971510,-104.720262,6.225406e+09,NaN
73779,M63831,10-Dec-2019,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,ADAMS DANIEL W &,434,B,PV SOLAR ( 13120 WATTS ),1,THAT PART OF LOT 15 AS FOLS: BEG AT SW COR OF,...,80917,0,52480,R123212,0,NaN,38.869379,-104.738187,6.336302e+09,NaN
73780,M64338,13-Dec-2019,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,NOWELL RANDI,434,B,PV SOLAR ( 3200 WATTS ),1,CIMARRON HILLS FIL NO 5,...,80915,0,12800,R123195,0,NaN,38.850399,-104.700868,5.408210e+09,NaN

In [35]:
permit_19_df = permit_data19_edit_df.drop(["Permit", "Owner", "Date", "Contractor", "Cont-Phone", "P-Code", "Dept", "Units", "Lot", "Block", "Subdivision", "Suite", "Sq-Ft", "Value", "Plan#", "CONum", "CODate", "Parcel", "Unnamed: 28"], axis=1)
permit_19_df

permit_19_df2 = permit_19_df.T.drop_duplicates().T
permit_19_df2
permit_19_df3 = permit_19_df2.reset_index(drop=True)
permit_19_df3

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR REMOVE AND REPLACE,4011,W,DARBY,CIR,COLORADO SPRINGS,80907,38.8899,-104.842
1,PV SOLAR ( 7459 WATTS ),14725,NaN,ROLLER COASTER,RD,COLORADO SPRINGS,80921,39.0455,-104.783
2,PV SOLAR REMOVE AND REPLACE,610,NaN,WELSH,CIR,COLORADO SPRINGS,80916,38.8234,-104.747
3,PV SOLAR ( 7000 WATTS ),2040,NaN,MULLIGAN,DR,COLORADO SPRINGS,80920,38.9703,-104.791
4,PV SOLAR ( 8060 WATTS ),5913,NaN,ROWDY,DR,COLORADO SPRINGS,80924,38.9631,-104.719
...,...,...,...,...,...,...,...,...,...
1603,PV SOLAR ( 6080 WATTS ),5441,S,BUCKSKIN PASS,DR,COLORADO SPRINGS,80917,38.8818,-104.727
1604,PV SOLAR ( 3840 WATTS ),6181,NaN,CUBBAGE,DR,COLORADO SPRINGS,80920,38.9716,-104.72
1605,PV SOLAR ( 4800 WATTS ),6132,NaN,CUBBAGE,DR,COLORADO SPRINGS,80920,38.9715,-104.72
1606,PV SOLAR ( 13120 WATTS ),4822,NaN,ALTEZA,DR,COLORADO SPRINGS,80917,38.8694,-104.738
1607,PV SOLAR ( 3200 WATTS ),1250,NaN,CHIRICAHUA,DR,COLORADO SPRINGS,80915,38.8504,-104.701

In [32]:
permit_data20_df = pd.read_table("allperms/allperms_2020.txt", header=0)


permit_data20_df = pd.DataFrame(permit_data20_df)
# permit_data_df.head()

permit_data20_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
0,M64803,18-Mar-2020,"1 CALL ELECTRIC, LLC",7.195105e+09,REYES FRANK,434,E,BASEMENT FINISH,0,THE MEADOWS AT LORSON RANCH FIL NO 2,...,80925,1100,500,0,0,NaN,38.741040,-104.643416,5.514305e+09,NaN
1,M79803,15-Apr-2020,"1 CALL ELECTRIC, LLC",7.195105e+09,ATKINSON DARRELL R ESTATE,434,E,SERVICE UPGRADE AND WORKSHOP REWIRE,0,HASTINGS 9TH ADD COLO SPGS,...,80907,0,800,0,0,NaN,38.862261,-104.815778,6.406122e+09,NaN
2,M94639,06-Aug-2020,"1 CALL ELECTRIC, LLC",7.195105e+09,CUCUZZA ANTHONY A,434,E,A/C COIL & CONDENSING UNIT INSTALLATION,0,NaN,...,80908,0,250,0,0,NaN,39.000699,-104.703880,5.218000e+09,NaN
3,M95311,16-Jul-2020,"1 CALL ELECTRIC, LLC",7.195105e+09,CUCUZZA CONSTRUCTION INC,434,E,TEMP SERVICE,0,PAINT BRUSH HILLS FIL NO 13 E,...,80831,0,100,0,0,NaN,38.979814,-104.622689,5.225205e+09,NaN
4,M99214,07-Aug-2020,"1 CALL ELECTRIC, LLC",7.195105e+09,"CUCUZZA CONSTRUCTION, INC.",434,E,TEMP SERVICE,0,PAINT BRUSH HILLS FIL NO 13 E,...,80831,0,150,0,0,NaN,38.979033,-104.625537,5.225201e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78995,M92071,29-Jun-2020,ZOOK CONTRACTING,7.194992e+09,SWANSON FAMILY LIVING TRUST,434,B,REROOF,1,HIGH POINT GARDENS COLO SPGS,...,80904,0,11000,0,0,NaN,38.851731,-104.839030,7.412103e+09,NaN
78996,M96646,24-Jul-2020,ZOOK CONTRACTING,7.194992e+09,BRITTON JACK C,101,B,RESIDENCE,1,FOREST VIEW ACRES INC,...,80132,4590,491497,R129474,0,NaN,39.098211,-104.906488,7.117002e+09,NaN
78997,N18690,09-Nov-2020,ZOOK CONTRACTING,7.194992e+09,ZOOK TED II,101,B,RESIDENCE,1,DAVIS RANCH SUB FIL NO 1,...,80831,5092,545251,R135791,0,NaN,38.865932,-104.536777,4.403002e+09,NaN
78998,N20124,16-Nov-2020,ZOOK CONTRACTING,7.194992e+09,DUELL JAMES C,434,B,DECK - NEW,0,"HIGHLAND PARK 3 COLO SPGS ALSO, PART",...,80909,0,3800,R136972,0,NaN,38.865094,-104.780573,6.404108e+09,NaN
78999,N17348,02-Nov-2020,ZUNIGA STONE LLP,7.199301e+09,JOHNSON BRADEN,434,B,STUCCO,0,CIMARRON-EASTRIDGE FIL NO 1,...,80915,0,1,0,0,NaN,38.857129,-104.696684,5.405305e+09,NaN

In [33]:
permit_data20_edit_df = permit_data20_df[permit_data20_df["P-Comment"].str.contains("PV SOLAR")]
permit_data20_edit_df

,Permit,Date,Contractor,Cont-Phone,Owner,P-Code,Dept,P-Comment,Units,Subdivision,...,Zip,Sq-Ft,Value,Plan#,CONum,CODate,Latitude,Longitude,Parcel,Unnamed: 28
1168,M68076,15-Jan-2020,"A. ADKISSON ELECTRIC, INC.",3.033325e+09,MORRIS RAYMOND,434,B,PV SOLAR ( 6400 WATTS ),1,INDIAN VILLAGE FIL NO 2,...,80817,0,25600,R124059,0,NaN,38.542222,-104.706001,5.730002e+09,NaN
1169,M68077,15-Jan-2020,"A. ADKISSON ELECTRIC, INC.",3.033325e+09,BERTRAND BRETT &,434,B,PV SOLAR ( 5580 WATTS ),1,FOREST GREEN,...,80106,0,22320,R124058,0,NaN,39.083406,-104.580626,4.120002e+09,NaN
1170,M79439,13-Apr-2020,"A. ADKISSON ELECTRIC, INC.",3.033325e+09,GWINNER JOHN R,434,B,PV SOLAR ( 3780 WATTS ) - DETACHED SHOP,1,NaN,...,80808,0,15120,R126879,0,NaN,38.948048,-104.411426,3.300000e+09,NaN
1171,M79440,13-Apr-2020,"A. ADKISSON ELECTRIC, INC.",3.033325e+09,GWINNER JOHN R,434,B,PV SOLAR ( 8820 WATTS ) - MAIN HOUSE,1,NaN,...,80808,0,35280,R126880,0,NaN,38.948048,-104.411426,3.300000e+09,NaN
1173,M94686,14-Jul-2020,"A. ADKISSON ELECTRIC, INC.",3.033325e+09,MACE DAVID M,434,E,PV SOLAR GROUND MOUNT ( 13090 WATTS ),0,FALCON HILLS SUB NO 4,...,80831,0,52360,R128721,0,NaN,38.901393,-104.591289,4.319003e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74637,N26439,29-Dec-2020,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,CHILDERS JOHN E,434,B,PV SOLAR ( 7140 WATTS ),1,BANNING LEWIS RANCH FIL NO 5,...,80927,0,28560,R138841,0,NaN,38.936462,-104.674788,5.309207e+09,NaN
74638,N26442,29-Dec-2020,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,OTTO THOMAS,434,B,PV SOLAR ( 3400 WATTS ),1,PAINT BRUSH HILLS FIL NO 4,...,80831,0,13600,R138837,0,NaN,38.976144,-104.613507,5.225402e+09,NaN
74639,N26443,29-Dec-2020,"VIVINT SOLAR DEVELOPER, LLC",8.018450e+09,JETT MINDY A,434,B,PV SOLAR ( 4420 WATTS ),1,MEADOW RIDGE AT BRIARGATE FIL NO 4 A,...,80920,0,17680,R138820,0,NaN,38.954904,-104.746970,6.235401e+09,NaN
77581,M68730,21-Jan-2020,"WINTERS ELECTRIC, INC.",7.194771e+09,418 SOUTH TEJON LLC,437,B,PV SOLAR ( 28000 WATTS ),1,N 45 FT OF COLO SPGS,...,80903,0,112000,C123758,0,NaN,38.827519,-104.824046,6.418316e+09,NaN
77604,N09059,23-Sep-2020,"WINTERS ELECTRIC, INC.",7.194771e+09,HUANG MICHAEL J REVOC TRUST,434,B,PV SOLAR ( 11220 WATTS ),1,CHERRY CREEK CROSSING FIL NO 2,...,80921,0,44880,R133752,0,NaN,39.084284,-104.774550,6.122005e+09,NaN

In [34]:
permit_20_df = permit_data20_edit_df.drop(["Permit", "Owner", "Date", "Contractor", "Cont-Phone", "P-Code", "Dept", "Units", "Lot", "Block", "Subdivision", "Suite", "Sq-Ft", "Value", "Plan#", "CONum", "CODate", "Parcel", "Unnamed: 28"], axis=1)
permit_20_df

permit_20_df2 = permit_20_df.T.drop_duplicates().T
permit_20_df2
permit_20_df3 = permit_20_df2.reset_index(drop=True)
permit_20_df3

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR ( 6400 WATTS ),6650,NaN,CHAPS,VW,FOUNTAIN,80817,38.5422,-104.706
1,PV SOLAR ( 5580 WATTS ),13270,NaN,GREEN MEADOW,DR,ELBERT,80106,39.0834,-104.581
2,PV SOLAR ( 3780 WATTS ) - DETACHED SHOP,22425,NaN,JUDGE ORR,RD,CALHAN,80808,38.948,-104.411
3,PV SOLAR ( 8820 WATTS ) - MAIN HOUSE,22425,NaN,JUDGE ORR,RD,CALHAN,80808,38.948,-104.411
4,PV SOLAR GROUND MOUNT ( 13090 WATTS ),12715,NaN,GULL,LN,PEYTON,80831,38.9014,-104.591
...,...,...,...,...,...,...,...,...,...
1858,PV SOLAR ( 7140 WATTS ),8166,NaN,FOXTAIL PINE,PL,COLORADO SPRINGS,80927,38.9365,-104.675
1859,PV SOLAR ( 3400 WATTS ),9835,NaN,LIBERTY GROVE,DR,PEYTON,80831,38.9761,-104.614
1860,PV SOLAR ( 4420 WATTS ),8550,NaN,BITTER BUSH,WAY,COLORADO SPRINGS,80920,38.9549,-104.747
1861,PV SOLAR ( 28000 WATTS ),418,S,TEJON,ST,COLORADO SPRINGS,80903,38.8275,-104.824
1862,PV SOLAR ( 11220 WATTS ),17470,W,CHERRY STAGE,RD,COLORADO SPRINGS,80921,39.0843,-104.775

In [38]:
solar_all_df = pd.concat([permit_15_df3, permit_16_df3, permit_17_df3, permit_18_df3, permit_19_df3, permit_20_df3, permit_ytd_df3], axis = 0)

solar_all_df

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608,N,CORONA,ST,COLORADO SPRINGS,80907,38.8566,-104.815
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604,N,CORONA,ST,COLORADO SPRINGS,80907,38.8564,-104.815
2,PV SOLAR INSTALLATION,1217,E,HIGH POINT,LN,COLORADO SPRINGS,80904,38.852,-104.837
3,PV SOLAR ( 7800 WATTS ),14170,NaN,HOLMES,RD,COLORADO SPRINGS,80908,39.0367,-104.722
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565,W,DESCANSO,CIR,COLORADO SPRINGS,80918,38.9119,-104.779
...,...,...,...,...,...,...,...,...,...
708,PV SOLAR ( 5100 WATTS ),6973,NaN,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.9444,-104.692
709,PV SOLAR ( 5440 WATTS ),8819,NaN,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.9291,-104.664
710,PV SOLAR ( 4760 WATTS ),1227,NaN,ROYALE,DR,COLORADO SPRINGS,80910,38.8138,-104.777
711,PV SOLAR ( 5780 WATTS ),8148,NaN,STEADMAN,DR,COLORADO SPRINGS,80920,38.95,-104.74
712,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.7913,-104.747

In [39]:
solar_all_df.to_csv("solardata.csv", sep=",", encoding='utf-8',index=False, header=True)

In [40]:
pd.read_csv("solardata.csv")

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608,N,CORONA,ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604,N,CORONA,ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217,E,HIGH POINT,LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170,NaN,HOLMES,RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565,W,DESCANSO,CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973,NaN,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819,NaN,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227,NaN,ROYALE,DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148,NaN,STEADMAN,DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [42]:
solardata_df = pd.read_csv("solardata.csv")
solardata_df

,P-Comment,Address-Low,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608,N,CORONA,ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604,N,CORONA,ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217,E,HIGH POINT,LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170,NaN,HOLMES,RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565,W,DESCANSO,CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973,NaN,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819,NaN,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227,NaN,ROYALE,DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148,NaN,STEADMAN,DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [43]:
solardata_df.rename(columns={"P-Comment": "PV System", "Address-Low": "Address1"}, inplace=True)

solardata_df

,PV System,Address1,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608,N,CORONA,ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604,N,CORONA,ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217,E,HIGH POINT,LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170,NaN,HOLMES,RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565,W,DESCANSO,CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973,NaN,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819,NaN,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227,NaN,ROYALE,DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148,NaN,STEADMAN,DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [44]:
solardata_df.fillna('', inplace=True)

solardata_df

,PV System,Address1,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608,N,CORONA,ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604,N,CORONA,ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217,E,HIGH POINT,LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170,,HOLMES,RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565,W,DESCANSO,CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973,,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819,,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227,,ROYALE,DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148,,STEADMAN,DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [45]:
solardata_df["Address"] = solardata_df["Address1"].astype(str) +" "+ solardata_df["Direction"].astype(str) +" "+ solardata_df["Street-Name"].astype(str) +" "+ solardata_df["Street-Type"].astype(str)

solardata_df

,PV System,Address1,Direction,Street-Name,Street-Type,City,Zip,Latitude,Longitude,Address
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608,N,CORONA,ST,COLORADO SPRINGS,80907,38.856555,-104.815493,1608 N CORONA ST
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604,N,CORONA,ST,COLORADO SPRINGS,80907,38.856426,-104.815468,1604 N CORONA ST
2,PV SOLAR INSTALLATION,1217,E,HIGH POINT,LN,COLORADO SPRINGS,80904,38.851951,-104.837389,1217 E HIGH POINT LN
3,PV SOLAR ( 7800 WATTS ),14170,,HOLMES,RD,COLORADO SPRINGS,80908,39.036748,-104.722381,14170 HOLMES RD
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565,W,DESCANSO,CIR,COLORADO SPRINGS,80918,38.911873,-104.779233,5565 W DESCANSO CIR
...,...,...,...,...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973,,RED CARDINAL,LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927,6973 RED CARDINAL LOOP
6638,PV SOLAR ( 5440 WATTS ),8819,,TRANQUIL KNOLL,LN,COLORADO SPRINGS,80927,38.929095,-104.664135,8819 TRANQUIL KNOLL LN
6639,PV SOLAR ( 4760 WATTS ),1227,,ROYALE,DR,COLORADO SPRINGS,80910,38.813821,-104.777463,1227 ROYALE DR
6640,PV SOLAR ( 5780 WATTS ),8148,,STEADMAN,DR,COLORADO SPRINGS,80920,38.949954,-104.740017,8148 STEADMAN DR
6641,PV SOLAR ( 7820 WATTS ),4320,N,WORDSWORTH,CIR,COLORADO SPRINGS,80916,38.791296,-104.746983,4320 N WORDSWORTH CIR

In [46]:
solardata2_df = solardata_df.drop(["Address1", "Direction", "Street-Name", "Street-Type"], axis=1)
solardata2_df

,PV System,City,Zip,Latitude,Longitude,Address
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),COLORADO SPRINGS,80907,38.856555,-104.815493,1608 N CORONA ST
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),COLORADO SPRINGS,80907,38.856426,-104.815468,1604 N CORONA ST
2,PV SOLAR INSTALLATION,COLORADO SPRINGS,80904,38.851951,-104.837389,1217 E HIGH POINT LN
3,PV SOLAR ( 7800 WATTS ),COLORADO SPRINGS,80908,39.036748,-104.722381,14170 HOLMES RD
4,PV SOLAR (ADD BATTERIES TO EXISTING),COLORADO SPRINGS,80918,38.911873,-104.779233,5565 W DESCANSO CIR
...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),COLORADO SPRINGS,80908,38.944397,-104.691927,6973 RED CARDINAL LOOP
6638,PV SOLAR ( 5440 WATTS ),COLORADO SPRINGS,80927,38.929095,-104.664135,8819 TRANQUIL KNOLL LN
6639,PV SOLAR ( 4760 WATTS ),COLORADO SPRINGS,80910,38.813821,-104.777463,1227 ROYALE DR
6640,PV SOLAR ( 5780 WATTS ),COLORADO SPRINGS,80920,38.949954,-104.740017,8148 STEADMAN DR
6641,PV SOLAR ( 7820 WATTS ),COLORADO SPRINGS,80916,38.791296,-104.746983,4320 N WORDSWORTH CIR

In [47]:
solardata2_df = solardata2_df[["PV System", "Address", "City", "Zip", "Latitude", "Longitude"]]
solardata2_df

,PV System,Address,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608 N CORONA ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604 N CORONA ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217 E HIGH POINT LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170 HOLMES RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565 W DESCANSO CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973 RED CARDINAL LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819 TRANQUIL KNOLL LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227 ROYALE DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148 STEADMAN DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320 N WORDSWORTH CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [81]:
#solardata2_df.to_csv("solardata2.csv", sep=",", encoding='utf-8',index=False, header=True)

In [15]:
solar_df = pd.read_csv("solardata2.csv")

In [37]:
solar_df

,PV System,Address,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608 N CORONA ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604 N CORONA ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217 E HIGH POINT LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170 HOLMES RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565 W DESCANSO CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973 RED CARDINAL LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819 TRANQUIL KNOLL LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227 ROYALE DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148 STEADMAN DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320 N WORDSWORTH CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [36]:
solar_df.round({"Latitude":6, "Longitude":6})

,PV System,Address,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608 N CORONA ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604 N CORONA ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217 E HIGH POINT LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170 HOLMES RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565 W DESCANSO CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973 RED CARDINAL LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819 TRANQUIL KNOLL LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227 ROYALE DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148 STEADMAN DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320 N WORDSWORTH CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [38]:
solar_df

,PV System,Address,City,Zip,Latitude,Longitude
0,PV SOLAR (ROOF FLUSH MOUNT) ( 3597 WATTS ),1608 N CORONA ST,COLORADO SPRINGS,80907,38.856555,-104.815493
1,PV SOLAR (ROOF MOUNT FLUSH) ( 4578 WATTS ),1604 N CORONA ST,COLORADO SPRINGS,80907,38.856426,-104.815468
2,PV SOLAR INSTALLATION,1217 E HIGH POINT LN,COLORADO SPRINGS,80904,38.851951,-104.837389
3,PV SOLAR ( 7800 WATTS ),14170 HOLMES RD,COLORADO SPRINGS,80908,39.036748,-104.722381
4,PV SOLAR (ADD BATTERIES TO EXISTING),5565 W DESCANSO CIR,COLORADO SPRINGS,80918,38.911873,-104.779233
...,...,...,...,...,...,...
6637,PV SOLAR ( 5100 WATTS ),6973 RED CARDINAL LOOP,COLORADO SPRINGS,80908,38.944397,-104.691927
6638,PV SOLAR ( 5440 WATTS ),8819 TRANQUIL KNOLL LN,COLORADO SPRINGS,80927,38.929095,-104.664135
6639,PV SOLAR ( 4760 WATTS ),1227 ROYALE DR,COLORADO SPRINGS,80910,38.813821,-104.777463
6640,PV SOLAR ( 5780 WATTS ),8148 STEADMAN DR,COLORADO SPRINGS,80920,38.949954,-104.740017
6641,PV SOLAR ( 7820 WATTS ),4320 N WORDSWORTH CIR,COLORADO SPRINGS,80916,38.791296,-104.746983

In [96]:
solar_df.to_csv("solar_df.csv", sep=",", encoding='utf-8',index=False, header=True)

In [49]:
sales_update_df = pd.read_csv("sales_updated.csv")
sales_update_df

,MLS ID,Sale Price,Close Date,Address,Zip Code,Total Sq. Ft.,Lot Size,Latitude,Longitude
0,2001944,240000.0,2021-03-15,4917 BlueStem DR,80917,1170.0,711.0,38.8976243,-104.737074
1,8359484,237500.0,2021-03-12,54 Villa DR,81001,2087.0,6509.0,38.8654252,-104.863362
2,7312436,275000.0,2021-03-15,132 Hayden ST,80813,2503.0,9583.0,38.750711,-105.176383
3,1398523,566455.0,2021-03-18,6596 Wolf Gulch DR,80924,4714.0,9088.0,38.9603997,-104.703074
4,4306524,410000.0,2021-03-12,6562 Tillamook DR,80925,1949.0,6600.0,38.8338816,-104.821363
...,...,...,...,...,...,...,...,...,...
4349,4628075,890000.0,2021-04-12,16 Polo DR,80906,3063.0,10890.0,38.7974702,-104.841016
4350,5664354,915000.0,2021-04-12,17925 Black Squirrel RD,80908,4808.0,625086.0,39.092056,-104.627332
4351,1719141,925000.0,2021-04-09,390 Paisley DR,80906,4822.0,13068.0,38.7435755,-104.835224
4352,3250460,990900.0,2021-04-15,4937 Rainbow Gulch TR,80924,6140.0,12120.0,38.9758208,-104.735368
4353,5790458,1550000.0,2021-04-16,11750 Woodland RD,80863,5896.0,292287.6,39.004222,-105.019340

In [4]:
#sales_update_df.dtypes

In [50]:
#df.round({"A":1, "B":2, "C":3}) 
#df["a"] = df["a"].astype(str).astype(float)

sales_update_df["Latitude"] = sales_update_df["Latitude"].astype(str).astype(float)
sales_update_df.round({"Latitude":6, "Longitude":6})

sales_update_df

,MLS ID,Sale Price,Close Date,Address,Zip Code,Total Sq. Ft.,Lot Size,Latitude,Longitude
0,2001944,240000.0,2021-03-15,4917 BlueStem DR,80917,1170.0,711.0,38.897624,-104.737074
1,8359484,237500.0,2021-03-12,54 Villa DR,81001,2087.0,6509.0,38.865425,-104.863362
2,7312436,275000.0,2021-03-15,132 Hayden ST,80813,2503.0,9583.0,38.750711,-105.176383
3,1398523,566455.0,2021-03-18,6596 Wolf Gulch DR,80924,4714.0,9088.0,38.960400,-104.703074
4,4306524,410000.0,2021-03-12,6562 Tillamook DR,80925,1949.0,6600.0,38.833882,-104.821363
...,...,...,...,...,...,...,...,...,...
4349,4628075,890000.0,2021-04-12,16 Polo DR,80906,3063.0,10890.0,38.797470,-104.841016
4350,5664354,915000.0,2021-04-12,17925 Black Squirrel RD,80908,4808.0,625086.0,39.092056,-104.627332
4351,1719141,925000.0,2021-04-09,390 Paisley DR,80906,4822.0,13068.0,38.743575,-104.835224
4352,3250460,990900.0,2021-04-15,4937 Rainbow Gulch TR,80924,6140.0,12120.0,38.975821,-104.735368
4353,5790458,1550000.0,2021-04-16,11750 Woodland RD,80863,5896.0,292287.6,39.004222,-105.019340

In [8]:
sales_update_df.round({"Latitude":6, "Longitude":6})

,MLS ID,Sale Price,Close Date,Address,Zip Code,Total Sq. Ft.,Lot Size,Latitude,Longitude
0,2001944,240000.0,2021-03-15,4917 BlueStem DR,80917,1170.0,711.0,38.897624,-104.737074
1,8359484,237500.0,2021-03-12,54 Villa DR,81001,2087.0,6509.0,38.865425,-104.863362
2,7312436,275000.0,2021-03-15,132 Hayden ST,80813,2503.0,9583.0,38.750711,-105.176383
3,1398523,566455.0,2021-03-18,6596 Wolf Gulch DR,80924,4714.0,9088.0,38.960400,-104.703074
4,4306524,410000.0,2021-03-12,6562 Tillamook DR,80925,1949.0,6600.0,38.833882,-104.821363
...,...,...,...,...,...,...,...,...,...
4349,4628075,890000.0,2021-04-12,16 Polo DR,80906,3063.0,10890.0,38.797470,-104.841016
4350,5664354,915000.0,2021-04-12,17925 Black Squirrel RD,80908,4808.0,625086.0,39.092056,-104.627332
4351,1719141,925000.0,2021-04-09,390 Paisley DR,80906,4822.0,13068.0,38.743576,-104.835224
4352,3250460,990900.0,2021-04-15,4937 Rainbow Gulch TR,80924,6140.0,12120.0,38.975821,-104.735368
4353,5790458,1550000.0,2021-04-16,11750 Woodland RD,80863,5896.0,292287.6,39.004222,-105.019340

In [51]:

sales_update_df
sales_update_df.to_csv("sales_udpate_df.csv", sep=",", encoding='utf-8',index=False, header=True)

In [8]:
#sales_update_df.to_csv("sales_udpate_df2.csv", sep=",", encoding='utf-8',index=False, header=True)

In [52]:
sales_latlong_df = sales_update_df[["Latitude", "Longitude"]].copy()
sales_latlong_df

       Latitude   Longitude
0     38.897624 -104.737074
1     38.865425 -104.863362
2     38.750711 -105.176383
3     38.960400 -104.703074
4     38.833882 -104.821363
...         ...         ...
4349  38.797470 -104.841016
4350  39.092056 -104.627332
4351  38.743575 -104.835224
4352  38.975821 -104.735368
4353  39.004222 -105.019340

[4354 rows x 2 columns]

In [11]:
# numbywhere 

sales_lat = sales_latlong_df["Latitude"]
sales_lat

0       38.897624
1       38.865425
2       38.750711
3       38.960400
4       38.833882
          ...
4349    38.797470
4350    39.092056
4351    38.743575
4352    38.975821
4353    39.004222
Name: Latitude, Length: 4354, dtype: float64

In [12]:
sales_long = sales_latlong_df["Longitude"]
sales_long

0      -104.737074
1      -104.863362
2      -105.176383
3      -104.703074
4      -104.821363
           ...
4349   -104.841016
4350   -104.627332
4351   -104.835224
4352   -104.735368
4353   -105.019340
Name: Longitude, Length: 4354, dtype: float64

In [19]:
solar_latlong_df = solar_df[["Latitude", "Longitude"]].copy()
# solar_latlong_df

In [20]:

#df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)
solar_latlong_df = solar_latlong_df.rename(columns={"Latitude": "Lat_solar", "Longitude": "Long_solar"})
solar_latlong_df

      Lat_solar  Long_solar
0     38.856555 -104.815493
1     38.856426 -104.815468
2     38.851951 -104.837389
3     39.036748 -104.722381
4     38.911873 -104.779233
...         ...         ...
6637  38.944397 -104.691927
6638  38.929095 -104.664135
6639  38.813821 -104.777463
6640  38.949954 -104.740017
6641  38.791296 -104.746983

[6642 rows x 2 columns]

In [30]:
solar_lat = solar_latlong_df["Lat_solar"]
solar_lat

0       38.856555
1       38.856426
2       38.851951
3       39.036748
4       38.911873
          ...
6637    38.944397
6638    38.929095
6639    38.813821
6640    38.949954
6641    38.791296
Name: Lat_solar, Length: 6642, dtype: float64

In [33]:
solar_long = solar_latlong_df["Long_solar"]
solar_long

0      -104.815493
1      -104.815468
2      -104.837389
3      -104.722381
4      -104.779233
           ...
6637   -104.691927
6638   -104.664135
6639   -104.777463
6640   -104.740017
6641   -104.746983
Name: Long_solar, Length: 6642, dtype: float64

In [32]:
#filterinfDataframe = dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]

#sales_solar_df = solar_latlong_df[(solar_latlong_df["Lat_solar"].values == sales_lat) & (solar_latlong_df["Long_solar"].values == sales_long)]
sales_solar_df

Empty DataFrame
Columns: [Lat_solar, Long_solar]
Index: []

In [26]:
#df1['latlongmatch'] = np.where(df1['Latitude'].values == df2['Latitude'].values, 'True', 'False')

In [28]:
solar_latlong_df['Long_solar'].isin(sales_latlong_df['Longitude']).any()

True

In [ ]:
# From Rob

    # df1['Address'].str.lower().isin(df2['Address'].str.lower()).any()
    # f_done = df1[df1["Address"].str.lower().isin(df2["Address"].str.lower())]

In [40]:
f_done = solar_df[solar_df["Address"].str.lower().isin(sales_update_df["Address"].str.lower())]
f_done

,PV System,Address,City,Zip,Latitude,Longitude
5012,PV SOLAR ( 2880 WATTS ),1338 N EL PASO ST,COLORADO SPRINGS,80903,38.853116,-104.81262